:root {
  --fondo: #e9eaed;
  --azul: #0000ff;
  --fondo-cards: #9b9ea6;
  --blanco: #ffffff;
  --naranja: #eb670f;
  --blue-light: #0074d9;
}

#filters,
#gallery {
  background-color: var(--fondo);
}

#gallery h2,
#filters h2,
#schedule h2 {
  color: var(--azul);
}
/* Efecto de Hover en Tarjetas */
.card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
  border: none; 
  background-color: var(--blue-light);
}

.card:hover {
  transform: scale(1.05); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.card-img-top {
  transition: transform 0.3s ease-in-out;
}

.card:hover .card-img-top {
  transform: scale(1.1); 
}

/* Overlay con Información Adicional */
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); 
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; 
  z-index: 1; 
}

.card:hover::after {
  opacity: 1; 
}

.card-body {
  position: relative;
  z-index: 2; 
}

.card-title,
.card-text {
  color: white; 
  transition: color 0.3s ease-in-out;
}

.card-footer {
  position: relative;
  z-index: 2; 
  color: var(--blanco);
}
/* Filtros */
.filter-btn.active {
  background-color: #0d6efd;
  color: white;
}

/* Galería Responsiva */
#gallery-grid {
  margin: 0 auto;
}
#schedule {
  background-color: var(--fondo);
}

@media (max-width: 768px) {
  .card {
    margin-bottom: 1rem;
  }
}

/* Tabla Responsiva */
.table-responsive {
  overflow-x: auto;
}

@media (max-width: 768px) {
  .table-responsive table {
    display: block;
    width: 100%;
  }
}
