/* Estilos del Footer */
#main-footer {
  background-color: var(--negro); 
  color: var(--blanco); 
}

#main-footer h3 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  color: var(--blanco);
  margin-bottom: 20px;
}

/* Formulario */
#main-footer .form-control {
  border-radius: 0; 
  border-color: var(--blanco); 
  background-color: transparent; 
  color: var(--blanco); 
}

#main-footer .form-control:focus {
  border-color: var(--naranja); 
  box-shadow: 0 0 5px rgba(235, 103, 15, 0.5); 
}

#main-footer .invalid-feedback {
  color: red;
}

/* Botón de Envío */
#main-footer .btn-primary {
  background-color: var(--naranja); 
  border-color: var(--naranja); 
  transition: background-color 0.3s ease;
}

#main-footer .btn-primary:hover {
  background-color: #d85d0d; 
  border-color: #d85d0d;
}

/* Spinner */
#main-footer .spinner-border {
  color: var(--blanco); 
}

/* Mapa */
.map-container {
  border: 2px solid var(--naranja); 
  border-radius: 10px; 
  overflow: hidden;
}

/* Estilos del Copyright */
#main-footer .small {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7); 
  margin-top: 20px; 
}

#main-footer .small:hover {
  color: var(--naranja); 
}
