/*Variables*/
:root{
    --negro: #000000;
    --blanco: #ffffff;
    --naranja: #eb670f;
}

/*Header Mega-Menu*/
#main-header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: black !important;
}

/*Logo*/
.navbar-brand img {
  width: 12rem;
}

/*Enlaces*/
.navbar-nav .nav-link {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  color: var(--blanco);
  font-style: normal;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
  color: var(--naranja);
}

/*Menú desplegable*/
.dropdown-menu.mega-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  color: var(--blanco);
  background-color: var(--naranja);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mega-menu li a{
    color: var(--blanco);
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
}

.mega-menu li a:hover{
    color: blue;
}

/*Botón Hamburguesa*/
.navbar-toggler-icon{
    filter: invert(1);
}

.social-icons {
  gap: 1rem;
}

.social-icon {
  color: #333;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: var(--naranja) !important;
}
