:root {
  --fondo: #e9eaed;
  --azul: #0000ff;
  --fondo-cards: #9b9ea6;
  --blanco: #ffffff;
  --naranja: #eb670f;
}
/* Estilos de la Sección Hero */
#hero {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

/* Video de Fondo */
#hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* Overlay Animado */
#hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

/* Contenido Centrado */
#hero-content {
  position: absolute;
  z-index: 2;
  text-align: center;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

#hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

#hero-content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

/* Estilos de la Sección Clases Destacadas */
#featured-classes {
  background-color: var(--fondo);
}

#featured-classes h2 {
  font-size: 2.5rem;
  color: var(--azul);
}

/* Estilos de las Tarjetas */
.featured-card {
  background-color: var(--fondo-cards);
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.featured-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.featured-card .card-body {
  padding: 20px;
  color: white;
  text-align: center;
}

.featured-card .card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: white;
}

.featured-card .card-text {
  font-size: 1rem;
  color: white;
}

.featured-card .btn {
  margin-top: 15px;
  color: var(--blanco);
  background-color: var(--naranja);
}

.featured-card .card-body a:hover {
  color: var(--azul);
}

/* Efecto Hover */
.featured-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.featured-card:hover img {
  transform: scale(1.1);
}
